* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  }

body {
  background-color: #7CDBD5;
}
#title {
  display: flex;
  justify-content: space-around;
  font-family: 'Bungee', cursive;ß
  font-size: 200px;
  margin-top: 50px;
  padding: 36px;
}

.navbar {
  overlfow: hidden;
  background-color: #7CDBD5;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0 6px 2px -2px #ffffff;
    -moz-box-shadow: 0 6px 4px -4px #ffffff;
    box-shadow: 0 6px 4px -4px #ffffff;
}

.navbar a {
  float: right;
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  margin-right: 24px;
  text-decoration: none;
}

.main {
  margin-top: 30px;
}

#master-search {
  display: flex;
  justify-content: space-around;
}

.search-box {
  margin: 100px auto;
  width: 300px;
  height: 50px;
}

.container {
    margin: 100px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

  }

#left {
  width: 600px;
  height: 800px;
  margin: 25px;
  border: 1px solid black;

  }

#right {
  width: 600px;
  height: 800px;
  margin: 25px;
  border: 1px solid black;
  }

  h2 {
   font-family: 'Bungee', cursive;
  }
